#include "zynqmp-zcu102-revA.dts"

/ {
	model = "ZynqMP RFC VSH";
	compatible = "xlnx,zynqmp-rfc-vsh", "xlnx,zynqmp-zcu102", "xlnx,zynqmp";

	chosen {
		bootargs = " earlycon console=ttyPS0,115200 clk_ignore_unused";
		stdout-path = "serial0:115200n8";
	};

	aliases {
		serial0 = &uart0;
		spi0 = &spi0;
	};

};

// /delete-node/ &gem3;

&i2c0 {
	status = "disabled";
};
&i2c1 {
	status = "disabled";
};

&gem3 {
	status = "disabled";
};

&qspi {
	status = "disabled";
};

&sata {
	status = "disabled";
};

&sdhci1 {
	/delete-property/ no-1-8-v;
};

&uart1 {
	status = "disabled";
};
